body {
  font-family: "Helvetica";
  overflow-x: hidden;
  background-color: #f8f8ff;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: #c0bbbbf2;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(17, 17, 19, 0.95);
  border-radius: 35px;
}
body::-webkit-scrollbar-track {
  background-color: #c0bbbbf2;
}
.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}
